<!DOCTYPE html>
<html>

<head>
    <title>Chỉnh Sửa Bộ Câu Hỏi</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image/png" href="/images/logoapp.png" />
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-6.4.0-web/css/all.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <header id="headofuser">
        <div class="navbar-left">
            <a href="/">
                <img class="logo" src="/images/purple.png" alt="" />
            </a>
        </div>
        <div class="fill-title">
            <p class="static-title">Tiêu đề :</p>
            <input type="text" name="" id="input-title" />
        </div>
        <div class="fill-title">
            <p class="static-title">Chủ đề:</p>
            <div class="frame-title">
                <p id="selected-topic">(Trống)</p>
                <div id="select-topic" tabindex="0">Chọn</div>
            </div>
        </div>
        <div class="fill-title">
            <p class="static-title">Loại tổng kết:</p>
            <div class="frame-title frame-title-2">
                <div class="frame-type-topic">
                    <input type="checkbox" name="type-topic" value="every-sentence" id="checkbox-tung-cau" />
                    <label for="checkbox-tung-cau">Từng câu</label><br />
                </div>
                <div class="frame-type-topic">
                    <input type="checkbox" name="type-topic" value="all-sentences" id="checkbox-cuoi-bai" />
                    <label for="checkbox-cuoi-bai">Cuối bài</label><br />
                </div>
            </div>
        </div>
        <div class="pick-topic">
            <% testThemes.forEach(function(testTheme) { %>
                <div class="element">
                    <p class="content" data-topic="<%= testTheme._id %>">
                        <%= testTheme.topic %>
                    </p>
                    <img src="/images/check.png" alt="" />
                </div>
                <% }); %>
                    <div class="element">
                        <p class="content" data-topic="none">Thêm Chủ Đề</p>
                        <img src="/images/check.png" alt="" />
                    </div>
        </div>
        <div class="navbar-right">
            <a class="exit-ques">Thoát</a>
            <a class="save-ques">Lưu</a>
        </div>
    </header>
    <div id="main-create-question">
        <div class="left-create-question">
            <div class="slice-question">
                <!-- <div class="question">
                    <div class="column-function">
                        <i class="fa-solid fa-clone"></i>
                        <i class="fa-regular fa-trash-can" id="delete-question"></i>
                    </div>
                    <div class="column-infor">
                        <p class="present-question">Câu 1</p>
                        <div class="question-content-right">
                            <div class="question-content-right-container">
                                <div class="question-content-right-title">Câu hỏi</div>
                                <div class="question-content-right-section">
                                    <div class="question-section-img">
                                        <div class="section-img-frame">
                                            <span><img src="/images/graphic-style.png" alt=""
                        /></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-content-ans">
                                    <div class="question-ans-detail"></div>
                                    <div class="question-ans-detail"></div>
                                    <div class="question-ans-detail"></div>
                                    <div class="question-ans-detail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="function-question">
                <button class="create-new">thêm câu hỏi</button>
                <button class="select">chọn câu hỏi</button>
            </div>
        </div>
        <div class="center-create-question">
            <div class="main">
                <textarea id="title-question" placeholder="Nhập nội dung câu hỏi..."></textarea>
                <div class="add-image" id="add-image">
                    <div class="row-close">
                        <span id="close"></span>
                    </div>
                    <div class="temporary">
                        <div class="temporary-image"></div>
                    </div>
                    <div class="row-add">
                        <button class="add">
                <div class="signplus"></div>
                thêm ảnh
              </button>
                    </div>
                </div>
                <div class="row-answer">
                    <div class="ques-answer ans1">
                        <div class="ques-ans-icon icon-1">
                            <img src="/images/square.png" alt="" />
                        </div>
                        <div class="ques-ans-title">
                            <input type="text" name="answer" placeholder="Đáp án 1" />
                        </div>
                        <div class="choose-correct-ans">
                            <input type="radio" name="true-answer" />
                        </div>
                    </div>
                    <div class="ques-answer">
                        <div class="ques-ans-icon icon-2">
                            <img src="/images/plain-triangle.png" alt="" />
                        </div>
                        <div class="ques-ans-title">
                            <input type="text" name="answer" placeholder="Đáp án 2" />
                        </div>
                        <div class="choose-correct-ans">
                            <input type="radio" name="true-answer" />
                        </div>
                    </div>
                </div>
                <div class="row-answer">
                    <div class="ques-answer ans1">
                        <div class="ques-ans-icon icon-3">
                            <img src="/images/rhombus.png" alt="" />
                        </div>
                        <div class="ques-ans-title">
                            <input type="text" name="answer" placeholder="Đáp án 3" />
                        </div>
                        <div class="choose-correct-ans">
                            <input type="radio" name="true-answer" />
                        </div>
                    </div>
                    <div class="ques-answer">
                        <div class="ques-ans-icon icon-4">
                            <img src="/images/new-moon.png" alt="" />
                        </div>
                        <div class="ques-ans-title">
                            <input type="text" name="answer" placeholder="Đáp án 4" />
                        </div>
                        <div class="choose-correct-ans">
                            <input type="radio" name="true-answer" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-create-question">
            <div class="setting-question">
                <div class="frame">
                    <div class="row-title">
                        <img src="/images/clock.png" alt="" />
                        <p class="title">Thời Gian</p>
                    </div>
                    <div class="pick picktime" tabindex="0">
                        <p class="content" data-value="20">20 giây</p>
                        <img src="/images/down.png" alt="" />
                    </div>
                    <div class="frame-pick frame-pick-time">
                        <div class="element">
                            <p class="content" data-value="10">10 giây</p>
                            <img src="/images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="20">20 giây</p>
                            <img src="/images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="30">30 giây</p>
                            <img src="/images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="60">1 phút</p>
                            <img src="/images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="90">1 phút 30 giây</p>
                            <img src="/images/check.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="frame">
                    <div class="row-title">
                        <img src="/images/score.png" alt="" />
                        <p class="title">Điểm Số</p>
                    </div>
                    <div class="pick pickscore" tabindex="0">
                        <p class="content">100 điểm</p>
                        <img src="/images/down.png" alt="" />
                    </div>
                    <div class="frame-pick frame-pick-score">
                        <div class="element">
                            <p class="content" data-value="100">100 điểm</p>
                            <img src="/images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="200">200 điểm</p>
                            <img src="/images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="300">300 điểm</p>
                            <img src="/images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="400">400 điểm</p>
                            <img src="/images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="500">500 điểm</p>
                            <img src="/images/check.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-function">
                <button class="delete delete-question">Xóa</button>
                <button class="duplicate duplicate-question">Nhân Bản</button>
            </div>
        </div>
        <div class="pick-new-question">
            <div class="title">
                <h2>Chọn câu hỏi</h2>
                <button aria-label="close" class="delete modal__button">
            <span class="close-icon"></span>
          </button>
            </div>
            <div class="frame-pick-question">
                <div class="frame-question"></div>
            </div>
            <div class="function">
                <button class="duplicate add-question-topic">Thêm</button>
            </div>
        </div>
        <div class="add-topic">
            <div class="title">
                <h2>Thêm chủ đề</h2>
            </div>
            <div class="input-topic">
                Nhập chủ đề:
                <input type="text" name="" id="" class="name-topic" />
            </div>
            <div class="function">
                <button class="delete">Hủy</button>
                <button class="duplicate">Thêm</button>
            </div>
        </div>
        <div class="infor-error">
            <div class="title-infor">
                <h2>Không thể tạo bộ câu hỏi</h2>
                <h4>Tất cả các câu hỏi cần được hoàn thành trước khi tạo.</h4>
            </div>
            <div class="list-error-question"></div>
            <div class="function">
                <div class="close close-infor-error">Chỉnh sửa</div>
            </div>
        </div>
    </div>
    <div class="message-dialog">
        <div class="title">
            <h2>Thông báo</h2>
        </div>

        <p>Cập Nhật Thành Công!</p>
        <img src="   https://cdn-icons-png.flaticon.com/512/5709/5709755.png " />
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        $(document).ready(function() {
                    var test = JSON.parse(`<%- test %>`);
                    var question = JSON.parse(`<%- questions %>`);
                    var token = $.cookie("accessToken");
                    const inputTopic = $(".name-topic");
                    const elementsTopic = $(".pick-topic .element");
                    const duplicateButton = $(".add-topic .function .duplicate");
                    const deleteButton = $(".add-topic .function .delete");
                    const pickTopicContainer = $(".pick-topic");
                    var pickElementScore = $(".pickscore");
                    var framePickElementScore = $(".frame-pick-score");
                    var elementsScore = $(".frame-pick-score .element");
                    var pickElementTime = $(".picktime");
                    var framePickElementTime = $(".frame-pick-time");
                    var elementsTime = $(".frame-pick-time .element");
                    var closeButton = $(".delete.modal__button");
                    var selectButton = $(".select");
                    var pickNewQuestion = $(".pick-new-question");
                    var pickElementTopic = $("#select-topic");
                    var framePickElementTopic = $(".pick-topic");
                    var contentTopic = $("#selected-topic");
                    var Theme = {
                        heading: test.heading,
                        testTheme: test.testTheme,
                        typePost: test.typePost,
                    };
                    var indexQuestion = 0;
                    var listQuestionTheme = question;
                    var listQuestionThemeFollowTopic;
                    $("#input-title").val(Theme.heading);
                    $(`input[name='type-topic'][value='${Theme.typePost}']`).prop(
                        "checked",
                        true
                    );
                    $(".pick-topic .element").each(function() {
                        var topicId = $(this).find(".content").data("topic");
                        var topicText = $(this).find(".content").text();
                        // Kiểm tra nếu topicId bằng 1 thì thêm class "selected"
                        if (topicId === test.testTheme) {
                            $(this).addClass("selected");
                            $("#selected-topic").text(topicText);
                        }
                    });
                    $(".exit-ques").on("click", function() {
                        window.location.replace("/home");
                    });
                    $(".close-infor-error").on("click", function() {
                        $(".infor-error").hide();
                    });
                    $(".save-ques").on("click", function() {
                        $(".list-error-question").empty();
                        var isError = false;
                        if (Theme.heading == "") {
                            var errorTitle = ` 
                                    <div class="error-question">             
                                    <div class="warning">
                                    <img src="/images/warning.png" alt="">
                                    <p>Chưa nhập tiêu đề cho bài trắc nghiệm.</p>
                                    </div>
                                    </div>`;
                            $(".list-error-question").append(errorTitle);
                            isError = true;
                        }
                        if (Theme.testTheme == "") {
                            var errorTitle = ` 
                                    <div class="error-question">             
                                    <div class="warning">
                                    <img src="/images/warning.png" alt="">
                                    <p>Chưa chọn chủ đề cho bài trắc nghiệm.</p>
                                    </div>
                                    </div>`;
                            $(".list-error-question").append(errorTitle);
                            isError = true;
                        }
                        listQuestionTheme.forEach(function(question, index) {
                            var listError = ``;
                            if (question.title == "") {
                                listError += `<div class="warning">
                                    <img src="/images/warning.png" alt="">
                                    <p>Chưa nhập nội dung câu hỏi</p>
                                    </div>`;
                                isError = true;
                            }
                            var haveNotScore = false;
                            var countAnswerMissing = 0;
                            question.answers.forEach(function(answer, index) {
                                if (answer.score) {
                                    haveNotScore = true;
                                }
                                if (answer.answerText == "") {
                                    countAnswerMissing++;
                                    isError = true;
                                }
                            });
                            if (countAnswerMissing > 0) {
                                listError += `<div class="warning">
                                    <img src="/images/warning.png" alt="">
                                    <p>thiếu ${countAnswerMissing} câu trả lời.</p>
                                    </div>`;
                                isError = true;
                            }
                            if (!haveNotScore) {
                                listError += `<div class="warning">
                                    <img src="/images/warning.png" alt="">
                                    <p>đáp án đúng chưa được chọn.</p>
                                    </div>`;
                                isError = true;
                            }
                            if (listError != "") {
                                listError =
                                    `<div class="error-question">             
                                    <div class="warning">
                                    <p>Câu ${index + 1}.</p>
                                    </div>` +
                                    listError +
                                    "</div>";
                                isError = true;
                                $(".list-error-question").append(listError);
                            }
                        });
                        if (isError) {
                            $(".infor-error").css("display", "flex");
                        } else {
                            $(".lds-ring").css("display", "flex");

                            $.ajax({
                                url: "/api/test/edit",
                                type: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                    Authorization: `Bearer ${token}`,
                                },
                                data: JSON.stringify({
                                    testId: test._id,
                                    heading: Theme.heading,
                                    idTheme: Theme.testTheme,
                                    typePost: Theme.typePost,
                                    questionThemes: listQuestionTheme,
                                }),
                                success: function(response) {
                                    $(".message-dialog").css("display", "flex");

                                    setTimeout(function() {
                                        window.location.href = "/";
                                    }, 1500);
                                },
                                error: function(err) {
                                    $(".lds-ring").css("display", "none");
                                },
                            });
                        }
                    });
                    //thêm danh sách các câu hỏi vào frame-pick để người dùng có thể thêm câu hỏi theo chủ đề
                    function insertQuestionIntoPickFrame() {
                        $(".frame-question").empty();
                        listQuestionThemeFollowTopic.forEach(function(question) {
                                    frameQuestion = `                    <div class="question">
                        <input type="checkbox" name="question">
                        <div class="main-question">
                            <div class="title-question">
                               ${question.title}
                            </div>
                            ${
                              question.image == ""
                                ? `<img src="/images/no-image.jpg" alt="">`
                                : `<img src="${question.image}" alt="">`
                            }
                            
                            <div class="frame-answers">
                                <div class="frame-answer">
                                    <div class="answer ${
                                      question.answers[0].score == true
                                        ? "true"
                                        : "false"
                                    }">  ${question.answers[0].answerText}</div>
                                    <div class="answer  ${
                                      question.answers[1].score == true
                                        ? "true"
                                        : "false"
                                    }">  ${question.answers[1].answerText}</div>
                                    <div class="answer  ${
                                      question.answers[2].score == true
                                        ? "true"
                                        : "false"
                                    }">  ${question.answers[2].answerText}</div>
                                    <div class="answer  ${
                                      question.answers[3].score == true
                                        ? "true"
                                        : "false"
                                    }">  ${question.answers[3].answerText}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                        `;
            $(".frame-question").append(frameQuestion);
          });
        }
        $(".duplicate.add-question-topic").click(function () {
          var questionIndexes = [];

          $(".frame-question .question").each(function (index) {
            var checkbox = $(this).find('input[name="question"]');
            if (checkbox.prop("checked")) {
              questionIndexes.push(index);
              checkbox.prop("checked", false);
            }
          });
          questionIndexes.forEach(function (index) {
            listQuestionTheme.push(listQuestionThemeFollowTopic[index]);
          });
          insertQuestionIntoSlideQuestions();
          $(".pick-new-question").hide();
        });
        //thêm danh sách các câu hỏi vào slide-question
        function insertQuestionIntoSlideQuestions() {
          $(".slice-question").empty();
          listQuestionTheme.forEach(function (question, index) {
            var newQuestion = `<div class="question">
                                <div class="column-function">
                                    <i class="fa-solid fa-clone"></i>
                                    <i class="fa-regular fa-trash-can" id="delete-question"></i>
                                </div>
                                <div class="column-infor">
                                    <p class="present-question">Câu ${
                                      index + 1
                                    }</p>
                                    <div class="question-content-right">
                                    <div class="question-content-right-container">
                                        <div class="question-content-right-title">Câu hỏi</div>
                                        <div class="question-content-right-section">
                                        <div class="question-section-img">
                                            <div class="section-img-frame">
                                            <span><img src="/images/graphic-style.png" alt="" /></span>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="question-content-ans">
                                        <div class="question-ans-detail"></div>
                                        <div class="question-ans-detail"></div>
                                        <div class="question-ans-detail"></div>
                                        <div class="question-ans-detail"></div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>`;

            $(".slice-question").append(newQuestion);
          });
        }
        insertQuestionIntoSlideQuestions();
        //xóa câu hỏi hiện tại
        $(".delete-question").on("click", function () {
          deleteQuestion(indexQuestion);
        });
        //nhân bản câu hỏi hiện tại
        $(".duplicate-question").on("click", function () {
          duplicateQuestion(indexQuestion);
        });

        //chọn câu hỏi để chỉnh sửa bla bla
        $(".slice-question").on("click", ".question", function () {
          if ($(this).find(".fa-regular.fa-trash-can").is(event.target)) {
            return; // Không thực hiện gì nếu sự kiện click được kích hoạt trên .fa-regular.fa-trash-can
          }
          if ($(this).find(".fa-solid.fa-clone").is(event.target)) {
            return; // Không thực hiện gì nếu sự kiện click được kích hoạt trên .fa-solid.fa-clone
          }
          // Xóa lớp selected-question từ tất cả các câu hỏi
          $(".slice-question .question").removeClass("selected-question");

          // Thêm lớp selected-question vào câu hỏi được click
          $(this).addClass("selected-question");
          indexQuestion = $(this).index();
          initQuestion();
        });
        //hàm nhân đôi câu hỏi
        function duplicateQuestion(index) {
          var clonedQuestion ={
            title: listQuestionTheme[index].title,
            image: listQuestionTheme[index].image,
            answers: [
              {
                answerText: listQuestionTheme[index].answers[0].answerText,
                score: listQuestionTheme[index].answers[0].score,
              },
              {
                answerText: listQuestionTheme[index].answers[1].answerText,
                score: listQuestionTheme[index].answers[1].score,
              },
              {
                answerText: listQuestionTheme[index].answers[2].answerText,
                score: listQuestionTheme[index].answers[2].score,
              },
              {
                answerText: listQuestionTheme[index].answers[3].answerText,
                score: listQuestionTheme[index].answers[3].score,
              },
            ],
            score: listQuestionTheme[index].score,
            time: listQuestionTheme[index].time,
          };
          listQuestionTheme.push(clonedQuestion);

          var newQuestion = `<div class="question">
                                                <div class="column-function">
                                                    <i class="fa-solid fa-clone"></i>
                                                    <i class="fa-regular fa-trash-can" id="delete-question"></i>
                                                </div>
                                                <div class="column-infor">
                                                    <p class="present-question">Câu ${listQuestionTheme.length}</p>
                                                    <div class="question-content-right">
                                                    <div class="question-content-right-container">
                                                        <div class="question-content-right-title">Câu hỏi</div>
                                                        <div class="question-content-right-section">
                                                        <div class="question-section-img">
                                                            <div class="section-img-frame">
                                                            <span><img src="/images/graphic-style.png" alt="" /></span>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="question-content-ans">
                                                        <div class="question-ans-detail"></div>
                                                        <div class="question-ans-detail"></div>
                                                        <div class="question-ans-detail"></div>
                                                        <div class="question-ans-detail"></div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>`;

          $(".slice-question").append(newQuestion);
        }
        //nhân bản câu hỏi
        $(".slice-question").on("click", ".fa-solid.fa-clone", function () {
          var questionIndex = $(this).closest(".question").index();
          duplicateQuestion(questionIndex);
        });

        // xóa câu hỏi
        function deleteQuestion(index) {
          if (listQuestionTheme.length == 1) {
            // Nếu chỉ còn một câu hỏi, không được phép xóa
            return;
          }

          listQuestionTheme.splice(index, 1); // Xóa câu hỏi khỏi listQuestionTheme

          $(".slice-question").empty();

          // Tạo lại giao diện cho từng câu hỏi trong listQuestionTheme
          listQuestionTheme.forEach(function (question, index) {
            var newQuestion = `<div class="question">
                                                <div class="column-function">
                                                    <i class="fa-solid fa-clone"></i>
                                                    <i class="fa-regular fa-trash-can" id="delete-question"></i>
                                                </div>
                                                <div class="column-infor">
                                                    <p class="present-question">Câu ${
                                                      index + 1
                                                    }</p>
                                                    <div class="question-content-right">
                                                    <div class="question-content-right-container">
                                                        <div class="question-content-right-title">Câu hỏi</div>
                                                        <div class="question-content-right-section">
                                                        <div class="question-section-img">
                                                            <div class="section-img-frame">
                                                            <span><img src="/images/graphic-style.png" alt="" /></span>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="question-content-ans">
                                                        <div class="question-ans-detail"></div>
                                                        <div class="question-ans-detail"></div>
                                                        <div class="question-ans-detail"></div>
                                                        <div class="question-ans-detail"></div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>`;

            $(".slice-question").append(newQuestion);
          });

          if (indexQuestion > listQuestionTheme.length - 2) {
            indexQuestion = 0;
          }

          initQuestion();
        }

        $(".slice-question").on(
          "click",
          ".fa-regular.fa-trash-can",
          function () {
            var questionElement = $(this).closest(".question");
            var questionIndex = questionElement.index();
            deleteQuestion(questionIndex);
          }
        );
        $(".create-new").on("click", function () {
          listQuestionTheme.push({
            title: "",
            image: "",
            answers: [
              {
                answerText: "",
                score: false,
              },
              {
                answerText: "",
                score: false,
              },
              {
                answerText: "",
                score: false,
              },
              {
                answerText: "",
                score: false,
              },
            ],
            score: 100,
            time: 20,
          });

          var newQuestion = `<div class="question">
                    <div class="column-function">
                        <i class="fa-solid fa-clone"></i>
                        <i class="fa-regular fa-trash-can" id="delete-question"></i>
                    </div>
                    <div class="column-infor">
                        <p class="present-question">Câu  ${listQuestionTheme.length}</p>
                        <div class="question-content-right">
                            <div class="question-content-right-container">
                                <div class="question-content-right-title">Câu hỏi</div>
                                <div class="question-content-right-section">
                                    <div class="question-section-img">
                                        <div class="section-img-frame">
                                            <span><img src="/images/graphic-style.png" alt=""
                        /></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-content-ans">
                                    <div class="question-ans-detail"></div>
                                    <div class="question-ans-detail"></div>
                                    <div class="question-ans-detail"></div>
                                    <div class="question-ans-detail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`;
          $(".slice-question").append(newQuestion);
          var container = $(".slice-question");
          //scrollto được tính theo công thức lấy tổng chiều cao của cuộn trừ cho chiều cao cố định của container
          var scrollTo = container.prop("scrollHeight") - container.height();
          container.scrollTop(scrollTo);
        });
        // hàm chọn giá trị thời gian ban đầu cho câu hỏi
        function addSelectedClassToTime(time) {
          $(".frame-pick-time .element").each(function () {
            var dataValue = parseInt($(this).find(".content").data("value"));
            if (dataValue == time) {
              $(this).addClass("selected");
              var value = $(this).find(".content").data("value");
              var content = $(this).find(".content").text();
              pickElementTime.find(".content").text(content);
              pickElementTime.find(".content").data("value", value);
            } else {
              $(this).removeClass("selected");
            }
          });
        } //hàm tạo giá trị điểm số ban đầu cho câu hỏi
        function addSelectedClassToScore(time) {
          $(".frame-pick-score .element").each(function () {
            var dataValue = parseInt($(this).find(".content").data("value"));

            if (dataValue == time) {
              $(this).addClass("selected");
              var value = $(this).find(".content").data("value");
              var content = $(this).find(".content").text();
              pickElementScore.find(".content").text(content);
              pickElementScore.find(".content").data("value", value);
            } else {
              $(this).removeClass("selected");
            }
          });
        }
        //khởi tạo giá trị của câu hỏi ở vị trí indexQuestion
        function initQuestion() {
          var answers = listQuestionTheme[indexQuestion].answers;
          var trueAnswerInputs = $("input[name='true-answer']");

          trueAnswerInputs.each(function (index) {
            var input = $(this);
            var answer = answers[index];

            input.prop("checked", answer.score);
          });
          $(".slice-question .question")
            .eq(indexQuestion)
            .addClass("selected-question");
          $("#title-question").val(listQuestionTheme[indexQuestion].title);
          addSelectedClassToTime(listQuestionTheme[indexQuestion].time);
          addSelectedClassToScore(listQuestionTheme[indexQuestion].score);
          $("input[name='answer']")
            .eq(0)
            .val(listQuestionTheme[indexQuestion].answers[0].answerText);
          $("input[name='answer']")
            .eq(1)
            .val(listQuestionTheme[indexQuestion].answers[1].answerText);
          $("input[name='answer']")
            .eq(2)
            .val(listQuestionTheme[indexQuestion].answers[2].answerText);
          $("input[name='answer']")
            .eq(3)
            .val(listQuestionTheme[indexQuestion].answers[3].answerText);
          if (listQuestionTheme[indexQuestion].image == "") {
            var addImageElement = document.getElementById("add-image");
            addImageElement.style.backgroundImage = "none";
            $(".temporary").show();
            $(".row-add").show();
            document.getElementById("close").style.display = "none";
          } else {
            var addImageElement = document.getElementById("add-image");
            addImageElement.style.background = "round";
            addImageElement.style.backgroundImage =
              "url(" + listQuestionTheme[indexQuestion].image + ")";
            document.getElementById("close").style.display = "block";

            $(".temporary").hide();
            $(".row-add").hide();
          }
        }
        initQuestion();
        //lưu giá trị text câu trả lời thứ index
        $("input[name='answer']").on("input", function () {
          var selectedInput = $(this);
          var inputIndex = $("input[name='answer']").index(selectedInput);
          listQuestionTheme[indexQuestion].answers[inputIndex].answerText =
            $(this).val();
        });
        //lưu câu trả lời chính xác vòa thứ index
        $("input[name='true-answer']").on("change", function () {
          var selectedInput = $(this);
          var indexAnswer = $("input[name='true-answer']").index(selectedInput);
          var value = $(this).prop("checked");
          listQuestionTheme[indexQuestion].answers.forEach(function (
            answer,
            index
          ) {
            if (index == indexAnswer) {
              answer.score = true;
            } else {
              answer.score = false;
            }
          });
        });

        //hàm cập nhật lại tên chủ đề của bài kiểm tra mỗi khi input chủ đề thay đổi
        $("#input-title").on("input", function () {
          Theme.heading = $(this).val();
        });
        //hàm kiểm tra xem loại kết thúc câu hỏi là loại nào nếu không phải là nó thì cho phép chọn còn là nó thì không có gì xảy ra
        $('input[name="type-topic"]').on("click", function () {
          var isChecked = $(this).prop("checked");
          $('input[name="type-topic"]').not(this).prop("checked", false);
          if (!isChecked) {
            $(this).prop("checked", true);
          }
          var selectedValue = $('input[name="type-topic"]:checked').val();
          Theme.typePost = selectedValue;
        });

        //hàm ẩn frame thêm chủ đề
        deleteButton.on("click", function () {
          $(".add-topic").hide();
        });
        //hàm kiểm tra chủ đề có tồn tại trong danh sách các chủ đề đã có chưa nếu có thì thông báo không thêm được còn nếu không thì thêm
        //chủ đề đó vào đầu danh sách các chủ đề đã có
        duplicateButton.on("click", function () {
          const topicValue = inputTopic.val().trim();

          if (topicValue !== "") {
            const isDuplicate = $(".pick-topic .element .content")
              .toArray()
              .some(function (element) {
                return $(element).text().trim() == topicValue;
              });

            if (isDuplicate) {
              alert("Chủ đề đã tồn tại trong danh sách.");
            } else {
              $(".lds-ring").css("display", "flex");
              $.ajax({
                url: "/api/testtheme/create",
                type: "POST",
                headers: {
                  "Content-Type": "application/json",
                  Authorization: `Bearer ${token}`,
                },
                data: JSON.stringify({
                  topic: topicValue,
                  parent: "",
                }),
                success: function (response) {
                  console.log(response._id);
                  const newTopicElement = $("<div>").addClass("element");
                  const topicContent = $("<p>")
                    .addClass("content")
                    .text(response.topic);
                  topicContent.attr("data-topic", response._id);
                  const checkImage = $("<img>")
                    .attr("src", "/images/check.png")
                    .attr("alt", "");

                  newTopicElement.append(topicContent);
                  newTopicElement.append(checkImage);

                  if (pickTopicContainer.children().length > 0) {
                    pickTopicContainer.prepend(newTopicElement);
                  } else {
                    pickTopicContainer.append(newTopicElement);
                  }
                  $(".lds-ring").css("display", "none");
                  assignClickEventToElements();
                  inputTopic.val("");
                  $(".add-topic").hide();
                },
                error: function (err) {},
              });
            }
          }
        });

        //hàm hiện frame chọn chủ đề
        pickElementTopic.on("focus", function () {
          framePickElementTopic.show();
        });
        //hàm ẩn frame chọn chủ đề
        pickElementTopic.on("blur", function () {
          pickElementTopic.removeClass("time");
          setTimeout(function () {
            framePickElementTopic.hide();
          }, 200);
        });

        function assignClickEventToElements() {
          const elementsTopic = $(".pick-topic .element");

          elementsTopic.on("click", function () {
            var content = $(this).find(".content").text();

            if (content === "Thêm Chủ Đề") {
              $(".add-topic").show();
            } else {
              contentTopic.text(content);
              elementsTopic.removeClass("selected");
              $(this).addClass("selected");
              Theme.testTheme = $(this).find(".content").data("topic");
              console.log(Theme.testTheme);
            }

            framePickElementTopic.hide();
          });
        }
        assignClickEventToElements();

        //hàm hiện frame chọn câu hỏi cùng chủ để
        selectButton.on("click", function () {
          $(".lds-ring").css("display", "flex");
          $.ajax({
            url: "/api/questionthemes/getquestiontheme",
            type: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${token}`,
            },
            data: JSON.stringify({
              testTheme: Theme.testTheme,
            }),
            success: function (response) {
              listQuestionThemeFollowTopic = [];
              listQuestionThemeFollowTopic = response.lsitQuestionTheme.map(
                function (obj) {
                  var newObj = Object.assign({}, obj);
                  delete newObj._id;
                  return newObj;
                }
              );
              if (listQuestionThemeFollowTopic.length != 0) {
                insertQuestionIntoPickFrame();
              } else {
                $(".frame-question").empty();
                $(".frame-question").css("justify-content", "center");
                $(".frame-question").css("align-items", "center");
                $(".frame-question").append(
                  `<p style="font-weight:700;">Không có câu hỏi nào trong chủ đề bạn đã chọn.</p>`
                );
              }
              $(".lds-ring").css("display", "none");
            },
            error: function (err) {},
          });
          pickNewQuestion.show();
        });

        //hàm đóng frame chọn câu hỏi cùng chủ đề
        closeButton.on("click", function () {
          pickNewQuestion.hide();
        });

        // hàm hiện frame chọn thời gian câu hỏi khi người dùng focus vào nó
        pickElementTime.on("focus", function () {
          pickElementTime.addClass("time");
          framePickElementTime.show();
        });
        //hàm đóng frame chọn thời gian câu hỏi khi người dùng không focus nữa
        pickElementTime.on("blur", function () {
          pickElementTime.removeClass("time");
          setTimeout(function () {
            framePickElementTime.hide();
          }, 200);
        });
        //hàm chọn thời gian câu hỏi và cập nhật lại thời gian của câu hỏi đó
        elementsTime.on("click", function () {
          var value = $(this).find(".content").data("value");
          var content = $(this).find(".content").text();
          pickElementTime.find(".content").text(content);
          pickElementTime.find(".content").data("value", value);
          framePickElementTime.hide();
          elementsTime.removeClass("selected");
          $(this).addClass("selected");
          listQuestionTheme[indexQuestion].time = value;
        });

        //hàm khi người dùng focus vào pick fram chọn điểm số thì hiện frame chọn điểm số đó ra
        pickElementScore.on("focus", function () {
          pickElementScore.addClass("frame-score");
          framePickElementScore.show();
        });
        //hàm xóa khung điểm số khi người dùng không còn focus nó nữa
        pickElementScore.on("blur", function () {
          pickElementScore.removeClass("frame-score");
          setTimeout(function () {
            framePickElementScore.hide();
          }, 200);
        });
        //hàm chọn và cập nhật lại điểm số của câu hỏi đó
        elementsScore.on("click", function () {
          var value = $(this).find(".content").data("value");
          var content = $(this).find(".content").text();
          pickElementScore.find(".content").text(content);
          pickElementScore.find(".content").data("value", value);
          framePickElementScore.hide();
          elementsScore.removeClass("selected");
          $(this).addClass("selected");
          listQuestionTheme[indexQuestion].score = value;
        });
        //hàm thêm chiều cao cho textarea(tiêu đề câu hỏi thay đổi theo kích thước của nội dung text area)
        function autoResize(textarea) {
          textarea.style.height = "auto";
          textarea.style.height = textarea.scrollHeight + "px";
        }
        $("#title-question").on("input", function () {
          text = $("textarea").val();
          $("#title-question").height("auto");
          $("#title-question").height(
            $("#title-question")[0].scrollHeight + "px"
          );
          listQuestionTheme[indexQuestion].title = text;
        });
        // hàm thêm mới 1 hình ảnh cho câu hỏi
        $(".add").on("click", function () {
          var input = document.createElement("input");
          input.type = "file";

          $(input).on("change", function (event) {
            var file = event.target.files[0];
            var fileExtension = file.name.split(".").pop().toLowerCase();

            if (
              fileExtension === "png" ||
              fileExtension === "jpg" ||
              fileExtension === "jpeg"
            ) {
              var reader = new FileReader();
              reader.onload = function (e) {
                var selectedImage = e.target.result;
                listQuestionTheme[indexQuestion].image = selectedImage;

                var addImageElement = document.getElementById("add-image");
                addImageElement.style.backgroundImage =
                  "url(" + selectedImage + ")";
                document.getElementById("close").style.display = "block";

                $(".temporary").hide();
                $(".row-add").hide();
              };
              reader.readAsDataURL(file);
            } else {
              alert("Vui lòng chỉ chọn file ảnh với định dạng PNG hoặc JPEG!");
            }
          });

          input.click();
        });
        //hàm xóa hình ảnh của câu hỏi
        $("#close").on("click", function () {
          var addImageElement = document.getElementById("add-image");
          addImageElement.style.backgroundImage = "none";
          listQuestionTheme[indexQuestion].image = "";
          $(".temporary").show();
          $(".row-add").show();
          document.getElementById("close").style.display = "none";
        });
      });
    </script>
</body>

</html>