<!DOCTYPE html>
<html>

<head>
    <title>Tạo Bộ Câu Hỏi</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image/png" href="./images/logoapp.png" />
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-6.4.0-web/css/all.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <header id="headofuser">
        <div class="navbar-left">
            <a href="#">
                <img class="logo" src="./images/purple.png" alt="" />
            </a>
        </div>
        <div class="fill-title">
            <p class="static-title">Tiêu đề :</p>
            <input type="text" name="" id="input-title" />
        </div>
        <div class="fill-title">
            <p class="static-title">Chủ đề:</p>
            <div class="frame-title">
                <p id="selected-topic">(Trống)</p>
                <div id="select-topic" tabindex="0">Chọn</div>
            </div>
        </div>
        <div class="fill-title">
            <p class="static-title">Loại tổng kết:</p>
            <div class="frame-title frame-title-2">
                <div class="frame-type-topic">
                    <input type="checkbox" name="type-topic" value="every-sentence" id="checkbox-tung-cau" checked>
                    <label for="checkbox-tung-cau">Từng câu</label><br>
                </div>
                <div class="frame-type-topic">
                    <input type="checkbox" name="type-topic" value="all-sentences" id="checkbox-cuoi-bai">
                    <label for="checkbox-cuoi-bai">Cuối bài</label><br>
                </div>
            </div>
        </div>
        <div class="pick-topic">
            <div class="element">
                <p class="content" data-topic="Tin Học Ứng Dụng">Tin Học Ứng Dụng</p>
                <img src="./images/check.png" alt="" />
            </div>
            <div class="element">
                <p class="content" data-topic="Tin Học Ứng Dụng">C++</p>
                <img src="./images/check.png" alt="" />
            </div>
            <div class="element">
                <p class="content" data-topic="Tin Học Ứng Dụng">Html</p>
                <img src="./images/check.png" alt="" />
            </div>
            <div class="element">
                <p class="content" data-topic="Tin Học Ứng Dụng">Sql</p>
                <img src="./images/check.png" alt="" />
            </div>
            <div class="element">
                <p class="content" data-topic="Tin Học Ứng Dụng">CSS</p>
                <img src="./images/check.png" alt="" />
            </div>
            <div class="element">
                <p class="content" data-topic="Tin Học Ứng Dụng">Thêm Chủ Đề</p>
                <img src="./images/check.png" alt="" />
            </div>
        </div>
        <div class="navbar-right">
            <a class="exit-ques" href="/users/login">Thoát</a>
            <a class="save-ques" href="/users/login">Lưu</a>
        </div>
    </header>
    <div id="main-create-question">
        <div class="left-create-question">
            <div class="slice-question">
                <div class="question">
                    <div class="column-function">
                        <i class="fa-solid fa-clone"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="column-infor">
                        <p class="present-question">Câu 1</p>
                        <div class="question-content-right">
                            <div class="question-content-right-container">
                                <div class="question-content-right-title">Câu hỏi</div>
                                <div class="question-content-right-section">
                                    <div class="question-section-img">
                                        <div class="section-img-frame">
                                            <span><img src="./images/graphic-style.png" alt=""
                        /></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-content-ans">
                                    <div class="question-ans-detail"></div>
                                    <div class="question-ans-detail"></div>
                                    <div class="question-ans-detail"></div>
                                    <div class="question-ans-detail"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="function-question">
                <button class="create-new">thêm câu hỏi</button>
                <button class="select">chọn câu hỏi</button>
            </div>
        </div>
        <div class="center-create-question">
            <div class="main">
                <textarea id="title-question" placeholder="Nhập nội dung câu hỏi..." oninput="autoResize(this)"></textarea>
                <div class="add-image" id="add-image">
                    <div class="row-close">
                        <span id="close"></span>
                    </div>
                    <div class="temporary">
                        <div class="temporary-image"></div>
                    </div>
                    <div class="row-add">
                        <button class="add">
                <div class="signplus"></div>
                thêm ảnh
              </button>
                    </div>
                </div>
                <div class="row-answer">
                    <div class="ques-answer ans1">
                        <div class="ques-ans-icon icon-1">
                            <img src="./images/square.png" alt="" />
                        </div>
                        <div class="ques-ans-title">
                            <input type="text" name="answer" placeholder="Đáp án 1" />
                        </div>
                        <div class="choose-correct-ans">
                            <input type="radio" name="true-answer" />
                        </div>
                    </div>
                    <div class="ques-answer">
                        <div class="ques-ans-icon icon-2">
                            <img src="./images/plain-triangle.png" alt="" />
                        </div>
                        <div class="ques-ans-title">
                            <input type="text" name="answer" placeholder="Đáp án 2" />
                        </div>
                        <div class="choose-correct-ans">
                            <input type="radio" name="true-answer" />
                        </div>
                    </div>
                </div>
                <div class="row-answer">
                    <div class="ques-answer ans1">
                        <div class="ques-ans-icon icon-3">
                            <img src="./images/rhombus.png" alt="" />
                        </div>
                        <div class="ques-ans-title">
                            <input type="text" name="answer" placeholder="Đáp án 3" />
                        </div>
                        <div class="choose-correct-ans">
                            <input type="radio" name="true-answer" />
                        </div>
                    </div>
                    <div class="ques-answer">
                        <div class="ques-ans-icon icon-4">
                            <img src="./images/new-moon.png" alt="" />
                        </div>
                        <div class="ques-ans-title">
                            <input type="text" name="answer" placeholder="Đáp án 4" />
                        </div>
                        <div class="choose-correct-ans">
                            <input type="radio" name="true-answer" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-create-question">
            <div class="setting-question">
                <div class="frame">
                    <div class="row-title">
                        <img src="./images/clock.png" alt="" />
                        <p class="title">Thời Gian</p>
                    </div>
                    <div class="pick picktime" tabindex="0">
                        <p class="content" data-value="20">20 giây</p>
                        <img src="./images/down.png" alt="" />
                    </div>
                    <div class="frame-pick frame-pick-time">
                        <div class="element">
                            <p class="content" data-value="10">10 giây</p>
                            <img src="./images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="20">20 giây</p>
                            <img src="./images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="30">30 giây</p>
                            <img src="./images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="60">1 phút</p>
                            <img src="./images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="90">1 phút 30 giây</p>
                            <img src="./images/check.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="frame">
                    <div class="row-title">
                        <img src="./images/score.png" alt="" />
                        <p class="title">Điểm Số</p>
                    </div>
                    <div class="pick pickscore" tabindex="0">
                        <p class="content">100 điểm</p>
                        <img src="./images/down.png" alt="" />
                    </div>
                    <div class="frame-pick frame-pick-score">
                        <div class="element selected">
                            <p class="content" data-value="100">100 điểm</p>
                            <img src="./images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="200">200 điểm</p>
                            <img src="./images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="300">300 điểm</p>
                            <img src="./images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="400">400 điểm</p>
                            <img src="./images/check.png" alt="" />
                        </div>
                        <div class="element">
                            <p class="content" data-value="500">500 điểm</p>
                            <img src="./images/check.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-function">
                <button class="delete">Xóa</button>
                <button class="duplicate">Nhân Bản</button>
            </div>
        </div>
        <div class="pick-new-question">
            <div class="title">
                <h2>Chọn câu hỏi</h2>
                <button aria-label="close" class="delete modal__button">
                    <span class="close-icon"></span>
                  </button>
            </div>
            <div class="frame-pick-question">
                <div class="frame-question">
                    <div class="question">
                        <input type="checkbox" name="" id="">
                        <div class="main-question">
                            <div class="title-question">
                                êm nhiều đối tượng Em giờ bên lề, an Trăm lần yêu là trăm nỗi buồn Trăm lần đau v êm nhiều đối tượng Em giờ bên lề, an Trăm lần yêu là trăm nỗi buồn Trăm lần đau vêm nhiều đối tượng Em giờ bên lề, an Trăm lần yêu là trăm nỗi buồn Trăm lần đau vêm nhiều
                                đối tượng Em giờ bên lề, an Trăm lần yêu là trăm nỗi buồn Trăm lần đau vêm nhiều đối tượng Em giờ bên lề, an Trăm lần yêu là trăm nỗi buồn Trăm lần đau vêm nhiều đối tượng Em giờ bên lề, an Trăm lần yêu là trăm nỗi buồn
                                Trăm lần đau vêm nhiều đối tượng Em giờ bên lề, an Trăm lần yêu là trăm nỗi buồn Trăm lần đau v
                            </div>
                            <img src="./images/check.png" alt="">
                            <div class="frame-answers">
                                <div class="frame-answer">
                                    <div class="answer">A. Phong Ne</div>
                                    <div class="answer">A. Phong Ne</div>
                                    <div class="answer">A. Phong Ne</div>
                                    <div class="answer">A. Phong Ne</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="function">
                <button class="delete">Hủy</button>
                <button class="duplicate">Thêm</button>
            </div>
        </div>
        <div class="add-topic">
            <div class="title">
                <h2>Thêm chủ đề</h2>
                <button aria-label="close" class="delete modal__button">
                    <span class="close-icon"></span>
                  </button>
            </div>
            <div class="input-topic">
                Nhập chủ đề:
                <input type="text" name="" id="" class="name-topic">
            </div>
            <div class="function">
                <button class="delete">Hủy</button>
                <button class="duplicate">Thêm</button>
            </div>
        </div>
        <div class="infor-error">
            <div class="title-infor">
                <h2>Không thể tạo bộ câu hỏi</h2>
                <h4>Tất cả các câu hỏi cần được hoàn thành trước khi tạo.</h4>
            </div>
            <div class="list-error-question">
                <div class="error-question">
                    <div class="warning">
                        <p>Câu 1:</p>
                    </div>
                    <div class="warning">
                        <img src="./images/warning.png" alt="">
                        <p>Thiếu câu hỏi.</p>
                    </div>
                    <div class="warning">
                        <img src="./images/warning.png" alt="">
                        <p>Thiếu 2 câu trả lời.</p>
                    </div>
                    <div class="warning">
                        <img src="./images/warning.png" alt="">
                        <p>Chưa chọn đáp án đúng.</p>
                    </div>
                </div>
            </div>
            <div class="function">
                <div class="close">
                    Chỉnh sửa
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $(document).ready(function() {

                const inputTopic = $('.name-topic');
                const elementsTopic = $(".pick-topic .element");
                const duplicateButton = $('.add-topic .function .duplicate');
                const deleteButton = $('.add-topic .function .delete');
                const pickTopicContainer = $('.pick-topic');
                var pickElementScore = $(".pickscore");
                var framePickElementScore = $(".frame-pick-score");
                var elementsScore = $(".frame-pick-score .element");
                var pickElementTime = $(".picktime");
                var framePickElementTime = $(".frame-pick-time");
                var elementsTime = $(".frame-pick-time .element");
                var closeButton = $(".delete.modal__button");
                var selectButton = $(".select");
                var pickNewQuestion = $(".pick-new-question");
                var pickElementTopic = $("#select-topic");
                var framePickElementTopic = $(".pick-topic");
                var contentTopic = $("#selected-topic");
                var Theme = {
                    heading: "",
                    testTheme: "",
                    typePost: "every-sentence"
                };
                var indexQuestion = 0;
                var listQuestionTheme = [{
                    title: "",
                    image: "",
                    answers: [{
                        answerText: "",
                        score: false
                    }, {
                        answerText: "",
                        score: false
                    }, {
                        answerText: "",
                        score: false
                    }, {
                        answerText: "",
                        score: false
                    }, ],
                    score: 100,
                    time: 20,

                }];
                //hàm cập nhật giá trị nội dung câu hỏi 
                function updateQuestionContent(questionContent) {
                    $("#title-question").val(questionContent);
                }

                // hàm chọn giá trị thời gian ban đầu cho câu hỏi
                function addSelectedClassToTime(time) {
                    $('.frame-pick-time .element').each(function() {
                        var dataValue = parseInt($(this).find('.content').data('value'));

                        if (dataValue === time) {
                            $(this).addClass('selected');
                            var value = $(this).find(".content").data("value");
                            var content = $(this).find(".content").text();
                            pickElementScore.find(".content").text(content);
                            pickElementScore.find(".content").data("value", value);
                        }
                    });
                }
                //hàm tạo giá trị điểm số ban đầu cho câu hỏi
                function addSelectedClassToScore(time) {
                    $('.frame-pick-score .element').each(function() {
                        var dataValue = parseInt($(this).find('.content').data('value'));

                        if (dataValue === time) {
                            $(this).addClass('selected');
                            var value = $(this).find(".content").data("value");
                            var content = $(this).find(".content").text();
                            pickElementScore.find(".content").text(content);
                            pickElementScore.find(".content").data("value", value);
                        }
                    });
                }
                //hàm cập nhật lại tên chủ đề của bài kiểm tra mỗi khi input chủ đề thay đổi
                $('#input-title').on('input', function() {
                    Theme.heading = $(this).val();
                });
                //hàm kiểm tra xem loại kết thúc câu hỏi là loại nào nếu không phải là nó thì cho phép chọn còn là nó thì không có gì xảy ra
                $('input[name="type-topic"]').on('click', function() {
                    var isChecked = $(this).prop('checked');
                    $('input[name="type-topic"]').not(this).prop('checked', false);
                    if (!isChecked) {
                        $(this).prop('checked', true);
                    }
                    var selectedValue = $('input[name="type-topic"]:checked').val();
                    Theme.typePost = selectedValue;

                });

                //hàm ẩn frame thêm chủ đề
                deleteButton.on('click', function() {
                    $('.add-topic').hide();
                });
                //hàm kiểm tra chủ đề có tồn tại trong danh sách các chủ đề đã có chưa nếu có thì thông báo không thêm được còn nếu không thì thêm
                //chủ đề đó vào đầu danh sách các chủ đề đã có
                duplicateButton.on('click', function() {
                    const topicValue = inputTopic.val().trim();

                    if (topicValue !== '') {
                        const isDuplicate = $('.pick-topic .element .content').toArray().some(function(element) {
                            return $(element).text() === topicValue;
                        });

                        if (isDuplicate) {
                            alert('Chủ đề đã tồn tại trong danh sách.');
                        } else {
                            const newTopicElement = $('<div>').addClass('element');
                            const topicContent = $('<p>').addClass('content').text(topicValue);
                            const checkImage = $('<img>').attr('src', './images/check.png').attr('alt', '');

                            newTopicElement.append(topicContent);
                            newTopicElement.append(checkImage);

                            if (pickTopicContainer.children().length > 0) {
                                pickTopicContainer.prepend(newTopicElement);
                            } else {
                                pickTopicContainer.append(newTopicElement);
                            }

                            assignClickEventToElements();
                            inputTopic.val('');
                            $('.add-topic').hide();
                        }
                    }
                });

                //hàm hiện frame chọn chủ đề 
                pickElementTopic.on("focus", function() {
                    framePickElementTopic.show();
                });
                //hàm ẩn frame chọn chủ đề 
                pickElementTopic.on("blur", function() {
                    pickElementTopic.removeClass("time");
                    setTimeout(function() {
                        framePickElementTopic.hide();
                    }, 200);
                });
                // hàm chọn chủ đề bài kiểm tra
                elementsTopic.on("click", function() {
                    var content = $(this).find(".content").text();
                    console.log(content);

                    if (content === "Thêm Chủ Đề") {
                        $('.add-topic').show();
                    } else {
                        contentTopic.text(content);
                        elementsTopic.removeClass("selected");
                        $(this).addClass("selected");
                        Theme.testTheme = $(this).find(".content").data("topic");
                        console.log($(this).find(".content").data("topic"));
                        console.log(Theme.testTheme);
                    }

                    framePickElementTopic.hide();
                });

                //hàm hiện frame chọn câu hỏi cùng chủ để
                selectButton.on("click", function() {
                    pickNewQuestion.show();
                });


                //hàm đóng frame chọn câu hỏi cùng chủ đề
                closeButton.on("click", function() {
                    pickNewQuestion.hide();
                });

                // hàm hiện frame chọn thời gian câu hỏi khi người dùng focus vào nó
                pickElementTime.on("focus", function() {
                    pickElementTime.addClass("time");
                    framePickElementTime.show();
                });
                //hàm đóng frame chọn thời gian câu hỏi khi người dùng không focus nữa
                pickElementTime.on("blur", function() {
                    pickElementTime.removeClass("time");
                    setTimeout(function() {
                        framePickElementTime.hide();
                    }, 200);
                });
                //hàm chọn thời gian câu hỏi và cập nhật lại thời gian của câu hỏi đó
                elementsTime.on("click", function() {
                    var value = $(this).find(".content").data("value");
                    var content = $(this).find(".content").text();
                    pickElementTime.find(".content").text(content);
                    pickElementTime.find(".content").data("value", value);
                    framePickElementTime.hide();
                    elementsTime.removeClass("selected");
                    $(this).addClass("selected");
                });

                //hàm khi người dùng focus vào pick fram chọn điểm số thì hiện frame chọn điểm số đó ra
                pickElementScore.on("focus", function() {
                    pickElementScore.addClass("frame-score");
                    framePickElementScore.show();
                });
                //hàm xóa khung điểm số khi người dùng không còn focus nó nữa
                pickElementScore.on("blur", function() {
                    pickElementScore.removeClass("frame-score");
                    setTimeout(function() {
                        framePickElementScore.hide();
                    }, 200);
                });
                //hàm chọn và cập nhật lại điểm số của câu hỏi đó
                elementsScore.on("click", function() {
                    var value = $(this).find(".content").data("value");
                    var content = $(this).find(".content").text();
                    pickElementScore.find(".content").text(content);
                    pickElementScore.find(".content").data("value", value);
                    framePickElementScore.hide();
                    elementsScore.removeClass("selected");
                    $(this).addClass("selected");
                });
                //hàm thêm chiều cao cho textarea(tiêu đề câu hỏi thay đổi theo kích thước của nội dung text area)
                function autoResize(textarea) {
                    textarea.style.height = "auto";
                    textarea.style.height = textarea.scrollHeight + "px";
                }
                // hàm thêm mới 1 hình ảnh cho câu hỏi 
                $(".add").on("click", function() {
                    var input = document.createElement("input");
                    input.type = "file";

                    $(input).on("change", function(event) {
                        var file = event.target.files[0];
                        var fileExtension = file.name.split(".").pop().toLowerCase();

                        if (
                            fileExtension === "png" ||
                            fileExtension === "jpg" ||
                            fileExtension === "jpeg"
                        ) {
                            var reader = new FileReader();
                            reader.onload = function(e) {
                                var selectedImage = e.target.result;
                                var addImageElement = document.getElementById("add-image");
                                addImageElement.style.backgroundImage =
                                    "url(" + selectedImage + ")";
                                document.getElementById("close").style.display = "block";

                                $(".temporary").hide();
                                $(".row-add").hide();
                            };
                            reader.readAsDataURL(file);
                        } else {
                            alert("Vui lòng chỉ chọn file ảnh với định dạng PNG hoặc JPEG!");
                        }
                    });

                    input.click();
                });
                //hàm xóa hình ảnh của câu hỏi
                $("#close").on("click", function() {
                    var addImageElement = document.getElementById("add-image");
                    addImageElement.style.backgroundImage = "none";
                    $(".temporary").show();
                    $(".row-add").show();
                    document.getElementById("close").style.display = "none";
                });

            });
        </script>
        <!-- <script>
            const inputTopic = document.querySelector('.name-topic');
            const duplicateButton = document.querySelector('.add-topic .function .duplicate');
            const deleteButton = document.querySelector('.add-topic .function .delete');
            const pickTopicContainer = document.querySelector('.pick-topic');

            deleteButton.addEventListener('click', function() {
                document.querySelector('.add-topic').style.display = "none";
            });
            duplicateButton.addEventListener('click', function() {
                const topicValue = inputTopic.value.trim(); // Lấy giá trị nhập vào và loại bỏ khoảng trắng đầu/cuối

                // Kiểm tra giá trị nhập vào có khác rỗng hay không
                if (topicValue !== '') {
                    // Kiểm tra xem chủ đề đã tồn tại trong danh sách chưa
                    const isDuplicate = Array.from(document.querySelectorAll(".pick-topic .element")).some(function(element) {
                        const content = element.querySelector('.content').textContent;
                        return content === topicValue;
                    });

                    // Nếu chủ đề trùng lặp, thông báo cho người dùng
                    if (isDuplicate) {
                        alert('Chủ đề đã tồn tại trong danh sách.');
                    } else {
                        // Tạo một phần tử mới và thêm vào danh sách
                        const newTopicElement = document.createElement('div');
                        newTopicElement.classList.add('element');

                        const topicContent = document.createElement('p');
                        topicContent.classList.add('content');
                        topicContent.textContent = topicValue;

                        const checkImage = document.createElement('img');
                        checkImage.src = './images/check.png';
                        checkImage.alt = '';

                        newTopicElement.appendChild(topicContent);
                        newTopicElement.appendChild(checkImage);

                        // Thêm phần tử mới vào container
                        if (pickTopicContainer.firstChild) {
                            pickTopicContainer.insertBefore(newTopicElement, pickTopicContainer.firstChild);
                        } else {
                            pickTopicContainer.appendChild(newTopicElement);
                        }


                        // Gán sự kiện click cho tất cả các phần tử
                        assignClickEventToElements();

                        // Đặt giá trị của input thành rỗng
                        inputTopic.value = '';
                        document.querySelector('.add-topic').style.display = "none";
                    }
                }
            });







            var pickElementTopic = document.querySelector("#select-topic");
            var framePickElementTopic = document.querySelector(".pick-topic");
            var contentTopic = document.querySelector("#selected-topic");


            pickElementTopic.addEventListener("focus", function() {

                framePickElementTopic.style.display = "flex";
            });

            pickElementTopic.addEventListener("blur", function() {
                pickElementTopic.classList.remove("time");
                setTimeout(function() {
                    framePickElementTopic.style.display = "none";
                }, 200);
            });

            function assignClickEventToElements() {
                const elementsTopic = document.querySelectorAll(".pick-topic .element");
                elementsTopic.forEach(function(element) {
                    element.addEventListener("click", function() {
                        var content = this.querySelector(".content").textContent;
                        console.log(content);
                        if (content === "Thêm Chủ Đề") {

                            document.querySelector('.add-topic').style.display = "flex";
                        } else {
                            contentTopic.innerHTML = content;
                            elementsTopic.forEach(function(el) {
                                el.classList.remove("selected");
                            });
                            this.classList.add("selected");

                            Theme.testTheme = this.querySelector(".content").dataset.topic;
                            console.log(this.querySelector(".content").dataset.topic);
                            console.log(Theme.testTheme);
                        }
                        framePickElementTopic.style.display = "none";
                    });
                });
            }
            assignClickEventToElements();
            ///end topic






            var selectButton = document.querySelector(".select");
            var pickNewQuestion = document.querySelector(".pick-new-question");
            selectButton.addEventListener("click", function() {
                pickNewQuestion.style.display = "block";
            });
            var closeButton = document.querySelector(".delete.modal__button");
            closeButton.addEventListener("click", function() {
                pickNewQuestion.style.display = "none";
            });
            var pickElementTime = document.querySelector(".picktime");
            var framePickElementTime = document.querySelector(".frame-pick-time");
            var elementsTime = document.querySelectorAll(".frame-pick-time .element");

            pickElementTime.addEventListener("focus", function() {
                // var pElement = document.querySelector(".picktime .content");
                // var value = pElement.getAttribute("data-value");
                // console.log(value);
                pickElementTime.classList.add("time");
                framePickElementTime.style.display = "flex";
            });

            pickElementTime.addEventListener("blur", function() {
                pickElementTime.classList.remove("time");
                setTimeout(function() {
                    framePickElementTime.style.display = "none";
                }, 200);
            });

            elementsTime.forEach(function(element) {
                element.addEventListener("click", function() {
                    var value = this.querySelector(".content").dataset.value;
                    var content = this.querySelector(".content").textContent;
                    pickElementTime.querySelector(".content").textContent = content;
                    pickElementTime.querySelector(".content").dataset.value = value;
                    framePickElementTime.style.display = "none";
                    elementsTime.forEach(function(el) {
                        el.classList.remove("selected");
                    });
                    this.classList.add("selected");
                });
            });

            var pickElementScore = document.querySelector(".pickscore");
            var framePickElementScore = document.querySelector(".frame-pick-score");
            var elementsScore = document.querySelectorAll(".frame-pick-score .element");

            pickElementScore.addEventListener("focus", function() {
                console.log("dfdf");
                pickElementScore.classList.add("frame-score");
                framePickElementScore.style.display = "flex";
            });

            pickElementScore.addEventListener("blur", function() {
                pickElementScore.classList.remove("frame-score");
                setTimeout(function() {
                    framePickElementScore.style.display = "none";
                }, 200);
            });

            elementsScore.forEach(function(element) {
                element.addEventListener("click", function() {
                    var value = this.querySelector(".content").dataset.value;
                    var content = this.querySelector(".content").textContent;
                    pickElementScore.querySelector(".content").textContent = content;
                    pickElementScore.querySelector(".content").dataset.value = value;
                    framePickElementScore.style.display = "none";
                    elementsScore.forEach(function(el) {
                        el.classList.remove("selected");
                    });
                    this.classList.add("selected");
                });
            });

            function autoResize(textarea) {
                textarea.style.height = "auto";
                textarea.style.height = textarea.scrollHeight + "px";
            }

            document.querySelector(".add").addEventListener("click", function() {
                var input = document.createElement("input");
                input.type = "file";
                input.addEventListener("change", function(event) {
                    var file = event.target.files[0];
                    var fileExtension = file.name.split(".").pop().toLowerCase();
                    if (
                        fileExtension === "png" ||
                        fileExtension === "jpg" ||
                        fileExtension === "jpeg"
                    ) {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            var selectedImage = e.target.result;
                            var addImageElement = document.getElementById("add-image");
                            addImageElement.style.backgroundImage =
                                "url(" + selectedImage + ")";
                            document.getElementById("close").style.display = "block";

                            document.querySelector(".temporary").style.display = "none";
                            document.querySelector(".row-add").style.display = "none";
                        };
                        reader.readAsDataURL(file);
                    } else {
                        alert("Vui lòng chỉ chọn file ảnh với định dạng PNG hoặc JPEG!");
                    }
                });
                input.click();
            });

            document.getElementById("close").addEventListener("click", function() {
                var addImageElement = document.getElementById("add-image");
                addImageElement.style.backgroundImage = "none";
                document.querySelector(".temporary").style.display = "flex";
                document.querySelector(".row-add").style.display = "flex";
                document.getElementById("close").style.display = "none";
            });
        </script> -->
</body>

</html>