<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style1.css" />
    <link rel="icon" type="image/png" href="/images/logoapp.png" />
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-6.4.0-web/css/all.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet" />
    <title>Waiting for player</title>
</head>

<body>
    <div class="root-start">
        <div class="start-game-wrapper">
            <div class="start-game-1">
                <div class="start-game-2">
                    <div class="theme-wrapper-bg">
                        <div class="top__head">
                            <div class="none"></div>
                            <div class="num-ques"><span>What are CSS Animations?</span></div>
                            <div class="bottom-item-3"><button class="button-next-ques">Tiếp theo</button></div>
                        </div>

                        <div class="setting-time">
                            <div class="time-start">
                                <div class="time-circle">
                                    <p>30</p>
                                </div>
                            </div>
                            <div class="img-ques"></div>
                            <div class="answer-start">
                                <div class="quantity-start">
                                    <p>0</p>
                                </div>
                                <div class="quantity-answer">
                                    <p>Số câu trả lời</p>
                                </div>
                            </div>
                        </div>
                        <div class="answer-game">
                            <div class="answer-game-choice">
                                <div class="answer-game-choice-wrapper">
                                    <div class="choice-wrapper">
                                        <div class="answer-game-1 ans-game1">
                                            <div class="answer-game-icon game-icon1"><img src="/images/square.png" alt="" /></div>
                                            <div class="answer-game-title">
                                                <p>An animation lets an element gradually change from one style to another.An animation lets an element gradually change from one style to another.An animation lets an element gradually change from one style
                                                    to another.An animation lets an element gradually change from one style to another.An animation lets an element gradually change from one style to another.An animation lets an element gradually change
                                                    from one style to another.An animation lets an element gradually change from one style to another.An animation lets an element gradually change from one style to another.An animation lets an element
                                                    gradually change from one style to another.An animation lets an element gradually change from one style to another.An animation lets an element gradually change from one style to another.An animation
                                                    lets an element gradually change from one style to another.An animation lets an element gradually change from one style to another.An animation lets an element gradually change from one style to another.An
                                                    animation lets an element gradually change from one style to another.An animation lets an element gradually change from one style to another.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="answer-game-1 ans-game2">
                                            <div class="answer-game-icon game-icon1"><img src="/images/plain-triangle.png" alt="" /></div>
                                            <div class="answer-game-title">
                                                <p>An animation lets an element gradually change from one style to another.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="answer-game-1 ans-game3">
                                            <div class="answer-game-icon game-icon1"><img src="/images/rhombus.png" alt="" /></div>
                                            <div class="answer-game-title">
                                                <p>An animation lets an element gradually change from one style to another.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="answer-game-1 ans-game4">
                                            <div class="answer-game-icon game-icon1"><img src="/images/circle.png" alt="" /></div>
                                            <div class="answer-game-title">
                                                <p>An animation lets an element gradually change from one style to another.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="bottom-bar-game">
                <div class="bottom-item-1">
                    <p>Câu 1/10</p>
                </div>
                <div class="bottom-item-2"> <img src="/images/lock.png" alt="" />
                    <p class="item2-title">Mã code </p>
                    <p>2812200</p>
                </div>

            </div>
        </div>
    </div>

</body>

</html>