<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style1.css" />
    <link rel="icon" type="image/png" href="/images/logoapp.png" />
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-6.4.0-web/css/all.min.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet" />
    <title>Waiting for player</title>
</head>

<body>
    <div class="waiting__wrapper">
        <div class="code__container">
            <div class="code__container__left">
                <span>Đăng nhập ứng dụng <strong>IT QUIZ</strong></span>
            </div>
            <div class="code__container__right">
                <span class="code__text">MÃ CODE</span>
                <span class="code__num">281 2002</span>
            </div>
        </div>

        <div class="btn__start__container">
            <div class="btn__start__lock">
                <button class="btn__lock">
                    <img src="/images/padlock.png" alt="">
                </button>
            </div>
            <div class="btn__start__game">
                <button class="btn__start">Bắt đầu</button>
            </div>
        </div>

        <div class="waiting__players__container">

            <!-- <div class="waiting__players">
                <div class="waiting__players__text">
                    Đang chờ người chơi....
                </div>
            </div> -->


            <div class="waiting__players__item">
                <div class="player__avt__frame">
                    <img src="/images/avatar.png" alt="">
                </div>
                <span class="player__name">tuongvy06</span>
            </div>

        </div>
        <div class="bottom__bar">
            <div class="bottom__bar__container">
                <span class="player__icon">
                    <img src="/images/player-count.png" alt="">
                </span>
                <span class="player__num__text">0</span>
            </div>

        </div>
    </div>

</body>

</html>